/* ------------------------------- colors ------------------------------- */

/* -------------------- base -------------------- */

.btn{
	display: inline-flex;

	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	align-items: center;
	text-decoration: none;

	border-radius: 32.5px;
}

/* -------------------- links -------------------- */

.btn-link{
	color: #ffffff;
}
.btn-link:hover{
	text-decoration: underline;
}

.btn-link-bordered{
	padding: 5px;

	border-radius: 11px;
	box-sizing: border-box;

	color: #ffffff;
	border: 1px solid #ffffff;
}
.btn-link-bordered:hover{
	color: #000000;
	background-color: #ffffff;
}

/* -------------------- buttons -------------------- */

.btn-yellow{
	font-weight: bold;

	padding: 18px 25px;

	color: #ffffff;
	background-color: #ffc300;
}
.btn-yellow:hover{
	opacity: 0.8;
}

.btn-purple{
	font-weight: bold;

	padding: 18px 25px;

	color: #ffffff;
	background: #C86DD7;
}
.btn-purple:hover{
	opacity: 0.8;
}

.btn-purple-bordered{
	font-weight: bold;

	padding: 15px 22px;

	color: #DA9CE4;
	border: 3px solid #DA9CE4;
}
.btn-link-bordered:hover{
	color: #ffffff;
	background: #DA9CE4;
}
