/* ------------------------------- colors ------------------------------- */

/* -------------------- clear -------------------- */

.color-purple{
    background-color: #7f4eab;
}
.color-yellow{
    background-color: #ffc300;
}
.color-green{
    background-color: #2F9751;
}

/* -------------------- gradients -------------------- */

.color-purple-gradient{
    background: linear-gradient(90deg, #ba66d3 15.04%, #4a30b5 100%);
}
.color-green-gradient{
    background: linear-gradient(120.45deg, #239F4B 44.35%, #347449 100%);
}

/* -------------------- text -------------------- */

.color-white-text{
    color: #ffffff;
}
.color-gray-text{
    color: #333333;
}
.color-black-text{
    color: #000000;
}
