/* ------------------------------- global ------------------------------- */

/* -------------------- body -------------------- */

.global__body{
    margin: 0;
    padding: 0;

    min-height: 90vh;
}

/* -------------------- header -------------------- */

.global__header{
    display: grid;

    grid-template-areas: "logo title nav net";
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto;

    padding: 14px 135px;
}
.global__header-logo{
    width: 40px;
}
.global__header-logo-text{
    display: inline;

    margin: 0;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 44px;

    color: #FFFFFF;
}

/* -------------------- nav in header -------------------- */

.global__nav{

}
.global__nav-list{
    margin: 0 115px 0 0;
    padding: 0;

    text-align: right;

    list-style: none;
}
.global__nav-list-item{
    display: inline-table;

    padding-left: 18px;
    line-height: 48px;
}
.global__nav-list-item-link{

}

/* -------------------- main -------------------- */

.global__main{

}

/* -------------------- section main -------------------- */

.global__section-main{
    display: grid;

    grid-template-areas: "sm_text sm_horn";
    grid-template-columns: auto auto;
    grid-template-rows: auto;

    height: calc(100vh - 79px);

    padding: 0 135px;
    margin-bottom: 135px;

    box-shadow: 0 13px 10px rgba(0, 0, 0, 0.25);
}
.global__section-main-text{
    grid-area: sm_text;

    margin-top: 150px;
}
.global__section-main-horn{
    grid-area: sm_horn;

    margin-top: 50px;
}

/* -------------------- section about -------------------- */

.global__section-about{
    display: grid;

    grid-template-areas: "sa_logo sa_text";
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: auto;

    padding: 100px 200px 135px 105px;
}
.global__section-about-logo{
    width: 767px;
    height: 516px;

    margin-right: 20px;

    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
}
.global__section-about-logo-image{
    width: 767px;
    height: 516px;

    margin-left: 30px;
    margin-top: -30px;

    background-image: url("../img/pixel-logo.png");
    background-size: contain;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
}

/* -------------------- section advantages -------------------- */

.global__section-advantages{
    display: flex;
    justify-content: space-between;

    margin: 0 135px 135px;
    padding-top: 100px;
}
.global__section-advantages-block{
    display: block;

    width: 24%;
}

/* -------------------- section works -------------------- */

.global__section-works{
    display: grid;

    grid-template-areas: "sw_text sw_logo";
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;

    margin: 0 135px;
    padding-top: 130px;
}
.global__section-works-text{

}
.global__section-works-logo{
    width: 767px;
    height: 516px;

    margin-left: 130px;

    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
}
.global__section-works-logo-image{
    width: 767px;
    height: 516px;

    margin-top: -30px;
    margin-left: -30px;

    background-image: url("../img/heineken-logo.png");
    background-size: cover;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
}

/* -------------------- section portfolio -------------------- */

.global__section-portfolio{
    display: grid;

    margin-top: 235px;
}
.global__section-portfolio-slider{
    margin: 60px 0 30px;
}
.global__section-portfolio-slider-item{
    position: relative;
    display: inline-block;

    width: 500px;
    height: 385px;

    margin: 0 40px 20px;
}
.global__section-portfolio-slider-text{
    position: absolute;

    padding: 70px;

    line-height: 20px;

    opacity: 0.8;
}

/* -------------------- section why -------------------- */

.global__section-why{
    display: grid;

    margin-top: 187px;
}
.global__section-why-blocks-list{
    display: flex;
    justify-content: space-around;

    width: 86%;

    margin: 50px auto 200px;
}
.global__section-why-block-item{
    width: 22%;

    padding: 55px 64px;

    background-color: #ffffff;
}

/* -------------------- section services -------------------- */

.global__section-services{
    display: grid;

    margin: 50px;
}
.global__section-services-slider{
    margin: 90px 0;
}
.global__section-services-slider-item{
    position: relative;
    display: inline-block;

    width: 450px;
    height: 345px;

    margin: 0 40px;

    box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.25);
}
.global__section-services-slider-item.active{
    width: 500px;
    height: 385px;

    margin: 0 40px;

    vertical-align: -20px;
}
.global__section-services-slider-image{
    /* костыль, но иначе не встанет */
    margin-top: -10px;
    margin-left: -14px;
}
.global__section-services-slider-text{
    position: absolute;

    padding: 70px;

    line-height: 20px;

    opacity: 0.8;
}

/* -------------------- section commercial -------------------- */

.global__section-commercial{
    display: grid;

    grid-template-areas: "sc_logo sc_text";
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: auto;

    padding-left: 105px;
    padding-right: 200px;
    margin-top: 260px;
}
.global__section-commercial-logo{
    grid-area: sc_logo;

    width: 767px;
    height: 516px;

    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
}
.global__section-commercial-logo-image{
    width: 767px;
    height: 516px;

    margin-left: 30px;
    margin-top: -30px;

    background-image: url("../img/big-question.png");
    background-size: contain;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
}
.global__section-commercial-text{
    grid-area: sc_text;
}

/* -------------------- section comments / invisible -------------------- */

.global__section-comments{
    display: grid;

    padding: 0 170px 70px;
    margin-top: 160px;
}
.global__section-comments-slider{
    display: flex;

    padding-top: 80px;
    margin-bottom: 140px;
}
.global__section-comments-slide{
    display: inline-grid;

    grid-template-areas: "ss-logo ss-name"
                         "ss-logo ss-type"
                         "ss-text ss-text";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr auto;

    width: 50%;
}
.global__section-comments-slide-logo{
    grid-area: ss-logo;

    padding-bottom: 60px;
    padding-right: 40px;
}
.global__section-comments-slide-name{
    grid-area: ss-name;

    margin-bottom: -30px;
}
.global__section-comments-slide-type{
    grid-area: ss-type;

    margin-top: -25px;
}
.global__section-comments-slide-text{
    grid-area: ss-text;

    width: 94%;
}


/* -------------------- section form -------------------- */

.global__section-form{
    display: grid;

    grid-template-areas: "sf-headers sf-headers sf-headers "
                         "sf-text-1  sf-text-2  sf-form"
                         "sf-image   sf-image   sf-form";

    padding: 0 170px;
    margin-top: 140px;
    margin-bottom: 65px;
}
.global__section-form-headers{
    grid-area: sf-headers;
}
.global__section-form-image{
    grid-area: sf-image;

    width: 788px;
    height: 325px;

    background-image: url("../img/bg.png");
    background-size: cover;
}
.global__section-form-form{
    grid-area: sf-form;
}

/* -------------------- footer top -------------------- */

.global__footer-top {
    display: grid;

    grid-template-areas: "info1 info2 info3 socilal";

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    padding: 40px 140px 45px 225px;
}
.global__footer-top-social{
    padding-top: 24px;
}
.global__footer-top-social-link{
    text-decoration: none;
    padding-right: 20px;
}
.global__footer-top-social-icon{

}

/* -------------------- footer line -------------------- */

.global__footer-line{
    width: 100%;

    margin: 0;

    outline: none;
    border: none;
    border-top: 1px solid white;
    background: none;
}

/* -------------------- footer bottom -------------------- */

.global__footer-bottom{
    display: grid;

    grid-template-areas: "info info none copyright";

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    padding: 15px 140px 30px 225px;
}
.global__footer-bottom-info{
    grid-area: info;
}
.global__footer-bottom-info-item{
    padding-right: 20px;
}
.global__footer-bottom-copyright{
    grid-area: copyright;

    font-weight: 400;
    font-size: 12px;
    opacity: 0.6;
}
