/* ------------------------------- button media ------------------------------- */

/* -------------------- base -------------------- */

@media screen and (min-width: 1860px) {

	.btn{
		font-size: 24px;

		border-radius: 32px;
	}

}
@media screen and (min-width: 1600px) and (max-width: 1860px) {

	.btn{
		font-size: 20px;

		border-radius: 28px;
	}

}
@media screen and (min-width: 1300px) and (max-width: 1600px) {

	.btn{
		font-size: 17px;

		border-radius: 23px;
	}

}
@media screen and (min-width: 900px) and (max-width: 1300px) {

	.btn{
		font-size: 16px;

		border-radius: 21px;
	}

}

/* -------------------- buttons -------------------- */

@media screen and (min-width: 1860px) {

	.btn-colored{
		min-width: 200px; /* 200 + 25 + 25 = 250 */

		padding: 18px 25px;
	}
	.btn-bordered{
		min-width: 220px; /* 220 + 12 + 3 + 12 + 3 = 250 */

		padding: 15px 12px;
	}

}
@media screen and (min-width: 1600px) and (max-width: 1860px) {

	.btn-colored{
		min-width: 180px; /* 180 + 20 + 20 = 220 */

		padding: 16px 20px;
	}
	.btn-bordered{
		min-width: 200px; /* 200 + 7 + 3 + 7 + 3 = 220 */

		padding: 13px 7px;
	}

}
@media screen and (min-width: 1300px) and (max-width: 1600px) {

	.btn-colored{
		min-width: 150px; /* 150 + 15 + 15 = 180 */

		padding: 14px 15px;
	}
	.btn-bordered{
		min-width: 170px;  /* 170 + 2 + 3 + 2 + 3 = 180 */

		padding: 11px 2px;
	}

}
@media screen and (min-width: 900px) and (max-width: 1300px) {

	.btn-colored{
		min-width: 140px; /* 140 + 10 + 10 = 160 */

		padding: 12px 10px;
	}
	.btn-bordered{
		min-width: 150px;  /* 150 + 2 + 3 + 2 + 3 = 160 */

		padding: 9px 2px;
	}

}

/* -------------------- links -------------------- */

@media screen and (min-width: 1860px) {

	.btn-link-bordered{
		border-radius: 11px;
	}

}
@media screen and (min-width: 1600px) and (max-width: 1860px) {

	.btn-link-bordered{
		border-radius: 10px;
	}

}
@media screen and (min-width: 1300px) and (max-width: 1600px) {

	.btn-link-bordered{
		border-radius: 8px;
	}

}
@media screen and (min-width: 900px) and (max-width: 1300px) {

	.btn-link-bordered{
		border-radius: 7px;
	}

}

/* -------------------- price -------------------- */

@media screen and (min-width: 1860px) {

	.btn-price{
		padding: 10px 20px;

		font-size: 16px;
		line-height: 20px;
	}

}
@media screen and (min-width: 1600px) and (max-width: 1860px) {

	.btn-price{
		padding: 10px 20px;

		font-size: 14px;
		line-height: 17px;
	}

}
@media screen and (min-width: 1300px) and (max-width: 1600px) {

	.btn-price{
		padding: 10px 20px;

		font-size: 12px;
		line-height: 14px;
	}

}
@media screen and (min-width: 900px) and (max-width: 1300px) {

	.btn-price{
		padding: 10px 20px;

		font-size: 10px;
		line-height: 12px;
	}

}
