/* ------------------------------- colors ------------------------------- */

/* -------------------- base -------------------- */

.btn{
	display: inline-block;

	width: max-content;

	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	align-items: center;
	text-decoration: none;

	border-radius: 32.5px;
}

/* -------------------- links -------------------- */

.btn-link{
	color: #ffffff;
}
.btn-link:hover{
	text-decoration: underline;
}

.btn-link-bordered{
	padding: 5px;

	border-radius: 11px;
	box-sizing: border-box;

	color: #ffffff;
	border: 1px solid #ffffff;
}
.btn-link-bordered:hover{
	color: #000000;
	background-color: #ffffff;
}

/* -------------------- buttons -------------------- */

.btn-colored{
	min-width: 250px;

	padding: 18px 25px;

	font-weight: bold;

	color: #ffffff;
	background-color: #333333;
}
.btn-colored:hover{
	opacity: 0.8;
}

.btn-bordered{
	min-width: 250px;

	padding: 15px 22px;

	font-weight: bold;

	color: #ffffff;
	background: none;
	border: 3px solid #333333;
}
.btn-bordered:hover{
	background-color: #333333;
}

.btn-yellow{
	color: #ffffff;
	background-color: #ffc300;
}

.btn-yellow-bordered{
	color: #ffffff;
	border: 3px solid #ffc300;
}
.btn-yellow-bordered:hover{
	background-color: #ffc300;
}

.btn-purple{
	color: #ffffff;
	background: #C86DD7;
}

.btn-purple-bordered{
	color: #DA9CE4;
	border: 3px solid #DA9CE4;
}
.btn-purple-bordered:hover{
	color: #ffffff;
	background: #DA9CE4;
}

/* -------------------- arrays -------------------- */

.btn-array-left{
	display: inline-block;

	width: 50px;
	height: 50px;

	margin-right: 36px;

	background-image: url("../../img/arr-left.svg");
}
.btn-array-left:hover{
	background-image: url("../../img/arr-left-fill.svg");
}

.btn-array-right{
	display: inline-block;

	width: 50px;
	height: 50px;

	background-image: url("../../img/arr-right.svg");
}
.btn-array-right:hover{
	background-image: url("../../img/arr-right-fill.svg");
}

/* -------------------- special -------------------- */

.btn-center{
	margin: 0 auto;
}

/* -------------------- price -------------------- */

.btn-price{
	padding: 10px 20px;

	font-size: 16px;
	line-height: 20px;

	color: #000000;
	border: 1px solid #333333;
}
.btn-price-white{
	padding: 10px 20px;

	font-size: 16px;
	line-height: 20px;

	color: #ffffff;
	border: 1px solid #ffffff;
}

/* -------------------- contact -------------------- */

.btn-contact{
	font-size: 18px;
	line-height: 22px;

	padding: 5px 12px;

	border-radius: 10px;

	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}
.btn-contact-icon{
	vertical-align: -3px;
}
