/* ------------------------------- forms mobile ------------------------------- */

/* -------------------- inputs -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

    .form-input-text{
        font-size: 24px;
        line-height: 29px;

        width: 70%;
    }
    .form-input-text::placeholder{
        font-size: 20px;
        line-height: 24px;
    }
    .form-label{
        font-size: 27px;
        line-height: 33px;
    }

}
@media screen and (min-width: 550px) and (max-width: 700px) {

    .form-input-text{
        font-size: 20px;
        line-height: 24px;

        width: 70%;
    }
    .form-input-text::placeholder{
        font-size: 17px;
        line-height: 20px;
    }
    .form-label{
        font-size: 22px;
        line-height: 27px;
    }

}
@media screen and (min-width: 400px) and (max-width: 550px) {

    .form-input-text{
        font-size: 17px;
        line-height: 20px;

        width: 70%;
    }
    .form-input-text::placeholder{
        font-size: 14px;
        line-height: 17px;
    }
    .form-label{
        font-size: 17px;
        line-height: 21px;
    }

}
@media screen and (max-width: 400px) {

    .form-input-text{
        font-size: 12px;
        line-height: 14px;

        width: 70%;
    }
    .form-input-text::placeholder{
        font-size: 9px;
        line-height: 12px;
    }
    .form-label{
        font-size: 12px;
        line-height: 14px;
    }

}
