/* ------------------------------- global ------------------------------- */

/* -------------------- body -------------------- */

.global__body{
	margin: 0;
	padding: 0;

	min-height: 90vh;
}
.global__body.active{
	overflow: hidden;
}

/* -------------------- header -------------------- */

.global__header{
	position: relative;
	display: grid;

	grid-template-areas: "logo title nav net";
	grid-template-columns: auto auto 1fr auto;
	grid-template-rows: auto;

	min-height: 6vh;

	padding: 14px 135px 0;
}
.global__header-btn-burger{
	display: none;
}

/* -------------------- burger -------------------- */

.global__burger{
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: 10;

	text-align: center;

	background-color: #2f9751;

	opacity: 0;
	visibility: hidden;

}

/* -------------------- main -------------------- */

.global__main.display{
	display: none;
}

/* -------------------- nav in header -------------------- */

.global__nav-list{
	margin: 0 115px 0 0;
	padding: 0;

	text-align: right;

	list-style: none;
}
.global__nav-list-item{
	display: inline-table;

	padding-left: 18px;
	line-height: 48px;
}
.global__nav-list-item-link{

}

/* -------------------- section main -------------------- */

.global__section-main{
	display: grid;

	grid-template-areas: "sm_text sm_horn";
	grid-template-columns: auto auto;
	grid-template-rows: auto;

	min-height: 93vh;

	padding: 0 135px;
	margin-bottom: 135px;

	box-shadow: 0 13px 10px rgba(0, 0, 0, 0.25);
}
.global__section-main-text{
	grid-area: sm_text;

	margin: auto;

	max-width: 934px;
}
.global__section-main-horn{
	grid-area: sm_horn;

	margin: auto;
}
.global__section-main-horn-image{
	width: 600px;
}

/* -------------------- section about -------------------- */

.global__section-about{
	display: flex;

	padding: 100px 200px 135px 105px;
}
.global__section-about-logo{

}
.global__section-about-text{

}

/* -------------------- section advantages -------------------- */

.global__section-advantages{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin: 0 135px 135px;
	padding-top: 100px;
}
.global__section-advantages-block{
	display: block;

	width: 25%;
}
.global__section-advantages-block:nth-child(1){
	text-align: right;
}
.global__section-advantages-block:nth-child(2){
	text-align: center;
}
.global__section-advantages-block:nth-child(3){
	text-align: left;
}

/* -------------------- section works -------------------- */

.global__section-works{
	display: flex;

	margin: 0 135px;
	padding-top: 130px;
}
.global__section-works-text{
	text-align: right;
}
.global__section-works-logo{

}

/* -------------------- section portfolio -------------------- */

.global__section-portfolio{
	display: grid;

	margin-top: 235px;
}
.global__section-portfolio-slider{
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin: 60px 0 30px;
}
.global__section-portfolio-slider-item{
	position: relative;
	display: flex;

	align-content: center;
	justify-content: center;
	align-items: center;

	width: 500px;
	height: 385px;

	margin: 0 36px 20px;
}
.global__section-portfolio-slider-item:nth-child(1){
	display: none;
}
.global__section-portfolio-slider-item:nth-child(5){
	display: none;
}
.global__section-portfolio-slider-item:hover .global__section-portfolio-slider-image{
	filter: brightness(0.18)
}
.global__section-portfolio-slider-item:hover .global__section-portfolio-slider-text{
	z-index: 1;
}
.global__section-portfolio-slider-text{
	position: absolute;

	width: 80%;

	line-height: 20px;

	opacity: 0.8;
	z-index: -1;

	color: #ffffff;
}
.global__section-portfolio-slider-image{
	width: 500px;
	height: 385px;
}

/* -------------------- section why -------------------- */

.global__section-why{
	display: grid;

	margin-top: 187px;
	padding-top: 50px;

	box-shadow: 0 13px 10px rgba(0, 0, 0, 0.25);
	background-image: url("../../img/svg/bg-about-circles.svg");
	background-size: cover;
}
.global__section-why-blocks-list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 88%;

	margin: 50px auto 200px;
}
.global__section-why-block-item{
	display: inline-block;

	width: 23%;

	padding: 55px 64px;

	background-color: #ffffff;
}

/* -------------------- section services -------------------- */

@keyframes ShowBlock {

	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}

}

.global__section-services{
	margin: 50px;
}
.global__section-services-slider{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	margin: 70px 0;
}
.global__section-services-slider-item{
	display: flex;
	flex-direction: column;

	width: 30%;

	box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.25);

	border-radius: 10px;
}
.global__section-services-slider-item-header{
	flex: 0 0 auto;

	margin-top: 40px;

	animation: ShowBlock 0.6s ease-in;
}
.global__section-services-slider-item-text{
	flex: 1 0 auto;

	margin: 40px 76px;

	animation: ShowBlock 0.6s ease-in;
}
.global__section-services-slider-item-btn{
	flex: 0 0 auto;

	width: max-content;

	margin: 0 auto 24px;

	animation: ShowBlock 0.6s ease-in;
}

/* -------------------- section commercial -------------------- */

.global__section-commercial{
	display: flex;

	padding-left: 105px;
	padding-right: 200px;
	margin-top: 260px;
}
.global__section-commercial-logo{

}
.global__section-commercial-text{

}

/* -------------------- section comments / invisible -------------------- */

.global__section-comments{
	display: none;

	padding: 0 170px 70px;
	margin-top: 160px;
}
.global__section-comments-slider{
	display: flex;

	padding-top: 80px;
	margin-bottom: 140px;
}
.global__section-comments-slide{
	display: inline-grid;

	grid-template-areas: "ss-logo ss-name"
                         "ss-logo ss-type"
                         "ss-text ss-text";
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr 1fr auto;

	width: 50%;
}
.global__section-comments-slide-logo{
	grid-area: ss-logo;

	padding-bottom: 60px;
	padding-right: 40px;
}
.global__section-comments-slide-name{
	grid-area: ss-name;

	margin-bottom: -30px;
}
.global__section-comments-slide-type{
	grid-area: ss-type;

	margin-top: -25px;
}
.global__section-comments-slide-text{
	grid-area: ss-text;

	width: 94%;
}


/* -------------------- section form -------------------- */

.global__section-form{
	display: grid;

	grid-template-areas: "sf-header    sf-header"
                         "sf-subheader sf-form"
                         "sf-image     sf-form";
	grid-template-rows: auto auto auto;
	grid-template-columns: 1fr auto;

	padding: 0 170px;
	margin-top: 140px;
	margin-bottom: 65px;
}
.global__section-form-header{
	grid-area: sf-header;
}
.global__section-form-subheader{
	grid-area: sf-subheader;
}
.global__section-form-image{
	grid-area: sf-image;

	width: 788px;
	height: 325px;

	background-image: url("../../img/src/bg.png");
	background-size: cover;
}
.global__section-form-form{
	grid-area: sf-form;
}

/* -------------------- footer -------------------- */

.global__footer{
	position: relative;
	display: grid;

	grid-template-areas: "none1   ft-nav  ft-logo ft-contacts  none2"
						 "gf-line gf-line gf-line gf-line      gf-line"
						 "none3   none4   fb-inst fb-copyright none5";
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-rows: 1fr auto auto;

	box-shadow: 0 -13px 10px rgba(0, 0, 0, 0.25);
	background-image: url("../../img/svg/bg-footer-circles.svg");
	background-size: cover;
}

/* -------------------- footer top -------------------- */

.global__footer-top-nav{
	grid-area: ft-nav;

	display: grid;

	grid-template-areas: "ftn-header ftn-header"
                         "ftn-sell-1 ftn-sell-2"
                         "ftn-sell-3 ftn-sell-4";
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;

	padding: 40px 0 10px;
}
.global__footer-top-nav *{
	margin: 0;
}
.global__footer-top-nav-header{
	grid-area: ftn-header;
}
.global__footer-top-logo{
	grid-area: ft-logo;

	margin: 10px 120px;
	padding: 40px 0 10px;
}
.global__footer-top-contacts{
	grid-area: ft-contacts;

	padding: 40px 0 10px;
}
.global__footer-top-contacts .text-bold{
	margin: 0;
}
.global__footer-top-contacts .text-md{
	margin: 10px 0;
}
.global__footer-top-contacts-phone-icon{
	vertical-align: -4px;
}

/* -------------------- footer line -------------------- */

.global__footer-line{
	grid-area: gf-line;

	width: 100%;

	margin: 0;

	outline: none;
	border: none;
	border-top: 1px solid white;
	background: none;
}

/* -------------------- footer bottom -------------------- */

.global__footer-bottom-inst{
	grid-area: fb-inst;

	margin: 0 auto;
	padding: 15px 0;
}
.global__footer-bottom-codeoon{
	grid-area: fb-copyright;

	position: absolute;

	bottom: 0;

	padding: 10px 0;
}
