/* ------------------------------- media ------------------------------- */

/* -------------------- header -------------------- */

@media screen and (min-width: 1860px) {

	.global__header{
		padding: 14px 135px;
	}
	.global__nav-list{
		margin: 0 115px 0 0;
	}

}
@media screen and (min-width: 1800px) and (max-width: 1860px) {

	.global__header{
		padding: 14px 130px;
	}
	.global__nav-list{
		margin: 0 110px 0 0;
	}

}
@media screen and (min-width: 1700px) and (max-width: 1800px) {

	.global__header{
		padding: 14px 125px;
	}
	.global__nav-list{
		margin: 0 105px 0 0;
	}

}
@media screen and (min-width: 1600px) and (max-width: 1700px) {

	.global__header{
		padding: 14px 120px;
	}
	.global__nav-list{
		margin: 0 95px 0 0;
	}

}
@media screen and (min-width: 1500px) and (max-width: 1600px){

	.global__header{
		padding: 14px 115px;
	}
	.global__nav-list{
		margin: 0 85px 0 0;
	}

}
@media screen and (min-width: 1300px) and (max-width: 1500px) {

	.global__header{
		padding: 14px 100px;
	}
	.global__nav-list{
		margin: 0 70px 0 0;
	}

}
@media screen and (min-width: 1020px) and (max-width: 1300px) {

	.global__header{
		padding: 14px 90px;
	}
	.global__nav-list{
		margin: 0 50px 0 0;
	}

}
@media screen and (min-width: 900px) and (max-width: 1020px) {

	.global__header{
		padding: 45px 100px 0;
	}
	.global__nav-list{
		display: none;
	}
	.global__header-btn-link{
		display: none !important;
	}
	.global__header-btn-burger{
		display: block;

		margin: 9px 0;
	}

}

/* -------------------- section main -------------------- */

@media screen and (min-width: 1860px) {

	.global__section-main{
		padding: 0 135px;
	}
	.global__section-main-horn-image{
		width: 600px;
	}

}
@media screen and (min-width: 1800px) and (max-width: 1860px) {

	.global__section-main{
		padding: 0 130px;
	}
	.global__section-main-horn-image{
		width: 550px;
	}

}
@media screen and (min-width: 1700px) and (max-width: 1800px) {

	.global__section-main{
		padding: 0 125px;
	}
	.global__section-main-horn-image{
		width: 550px;
	}

}
@media screen and (min-width: 1600px) and (max-width: 1700px) {

	.global__section-main{
		padding: 0 120px;
	}
	.global__section-main-horn-image{
		width: 500px;
	}

}
@media screen and (min-width: 1500px) and (max-width: 1600px) {

	.global__section-main{
		padding: 0 115px;
	}
	.global__section-main-horn-image{
		width: 500px;
	}

}
@media screen and (min-width: 1300px) and (max-width: 1500px) {

	.global__section-main{
		padding: 0 100px;
	}
	.global__section-main-horn-image{
		width: 450px;
	}

}
@media screen and (min-width: 1020px) and (max-width: 1300px) {

	.global__section-main{
		padding: 0 90px;
	}
	.global__section-main-horn-image{
		width: 350px;
	}

}
@media screen and (min-width: 900px) and (max-width: 1020px) {

	.global__section-main{
		padding: 0 100px;

		min-height: 86vh;
	}
	.global__section-main-horn-image{
		width: 300px;
	}

}

/* -------------------- section about -------------------- */

@media screen and (min-width: 1860px) {

	.global__section-about{
		grid-template-columns: 2fr 1.5fr;

		padding: 100px 200px 135px 105px;
	}

}
@media screen and (min-width: 1700px) and (max-width: 1860px) {

	.global__section-about{
		grid-template-columns: 2fr 1.7fr;

		padding: 100px 170px 135px 105px;
	}

}
@media screen and (min-width: 1500px) and (max-width: 1700px) {

	.global__section-about{
		grid-template-columns: 2fr 1.8fr;

		padding: 100px 145px 135px 105px;
	}

}
@media screen and (min-width: 1300px) and (max-width: 1500px) {

	.global__section-about{
		grid-template-columns: 2fr 1.9fr;

		padding: 100px 120px 135px 100px;
	}

}
@media screen and (min-width: 1020px) and (max-width: 1300px) {

	.global__section-about{
		grid-template-columns: 2fr 1.9fr;

		padding: 100px 70px 135px 90px;
	}

}
@media screen and (min-width: 900px) and (max-width: 1020px) {

	.global__section-about{
		grid-template-columns: 2fr 1.9fr;

		padding: 100px 70px 120px 90px;
	}

}

/* -------------------- section advantages -------------------- */



/* -------------------- section works -------------------- */

@media screen and (min-width: 1860px) {

	.global__section-works{
		grid-template-columns: 1.5fr 1fr;

		margin: 0 135px;
	}
	.global__section-works-logo{
		margin-left: 130px;
	}

}
@media screen and (min-width: 1700px) and (max-width: 1860px) {

	.global__section-works{
		grid-template-columns: 1.4fr 1fr;

		margin: 0 135px;
	}
	.global__section-works-logo{
		margin-left: 110px;
	}

}
@media screen and (min-width: 1500px) and (max-width: 1700px) {

	.global__section-works{
		grid-template-columns: 1.2fr 1fr;

		margin: 0 135px;
	}
	.global__section-works-logo{
		margin-left: 90px;
	}

}
@media screen and (min-width: 1300px)  and (max-width: 1500px) {

	.global__section-works{
		grid-template-columns: 1.2fr 1fr;

		margin: 0 135px;
	}
	.global__section-works-logo{
		margin-left: 90px;
	}

}
@media screen and (min-width: 1020px) and (max-width: 1300px) {

	.global__section-works{
		grid-template-columns: 1.2fr 1fr;

		margin: 0 115px;
	}
	.global__section-works-logo{
		margin-left: 70px;
	}

}
@media screen and (min-width: 900px) and (max-width: 1020px) {

	.global__section-works{
		grid-template-columns: 1.2fr 1fr;

		margin: 0 115px;
	}
	.global__section-works-logo{
		margin-left: 50px;
	}

}

/* -------------------- section portfolio -------------------- */

@media screen and (min-width: 1860px) {

	.global__section-portfolio-slider-item{
		width: 500px;
		height: 385px;

		margin: 0 36px 20px;
	}
	.global__section-portfolio-slider-image{
		width: 500px;
		height: 385px;
	}
	.global__section-portfolio-slider-text{

	}

}
@media screen and (min-width: 1700px) and (max-width: 1860px) {

	.global__section-portfolio-slider-item{
		width: 450px;
		height: 347px;

		margin: 0 33px 20px;
	}
	.global__section-portfolio-slider-image{
		width: 450px;
		height: 347px;
	}

}
@media screen and (min-width: 1500px) and (max-width: 1700px) {

	.global__section-portfolio-slider-item{
		width: 400px;
		height: 308px;

		margin: 0 29px 20px;
	}
	.global__section-portfolio-slider-image{
		width: 400px;
		height: 308px;
	}

}
@media screen and (min-width: 1300px)  and (max-width: 1500px) {

	.global__section-portfolio-slider-item{
		width: 356px;
		height: 254px;

		margin: 0 26px 20px;
	}
	.global__section-portfolio-slider-image{
		width: 356px;
		height: 254px;
	}
	.global__section-portfolio-slider-text{

	}

}
@media screen and (min-width: 1020px) and (max-width: 1300px) {

	.global__section-portfolio-slider-item{
		width: 267px;
		height: 205px;

		margin: 0 20px 15px;
	}
	.global__section-portfolio-slider-image{
		width: 267px;
		height: 205px;
	}

}
@media screen and (min-width: 900px) and (max-width: 1020px) {

	.global__section-portfolio-slider-item{
		width: 242px;
		height: 186px;

		margin: 0 18px 15px;
	}
	.global__section-portfolio-slider-image{
		width: 242px;
		height: 186px;
	}

}

/* -------------------- section commercial -------------------- */

@media screen and (min-width: 1860px) {

	.global__section-commercial{
		grid-template-columns: 2fr 1.5fr;

		padding-left: 105px;
		padding-right: 200px;
	}

}
@media screen and (min-width: 1700px) and (max-width: 1860px) {

	.global__section-commercial{
		grid-template-columns: 2fr 1.7fr;

		padding-left: 105px;
		padding-right: 170px;
	}

}
@media screen and (min-width: 1500px) and (max-width: 1700px) {

	.global__section-commercial{
		grid-template-columns: 2fr 1.8fr;

		padding-left: 105px;
		padding-right: 150px;
	}

}
@media screen and (min-width: 1300px)  and (max-width: 1500px) {

	.global__section-commercial{
		grid-template-columns: 2fr 1.8fr;

		padding-left: 90px;
		padding-right: 80px;
	}

}
@media screen and (min-width: 1020px) and (max-width: 1300px) {

	.global__section-commercial{
		grid-template-columns: 2fr 1.8fr;

		padding-left: 80px;
		padding-right: 80px;
	}

}

/* -------------------- section form -------------------- */

@media screen and (min-width: 1860px) {

	.global__section-form-image{
		width: 788px;
		height: 325px;
	}

}
@media screen and (min-width: 1300px)  and (max-width: 1500px) {

	.global__section-form-image{
		width: 561px;
		height: 231px;
	}

}
@media screen and (min-width: 1020px) and (max-width: 1300px) {

	.global__section-form-image{
		width: 420px;
		height: 173px;
	}

}
