/* ------------------------------- mobile ------------------------------- */

/* -------------------- header -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

	.global__header{
		padding: 45px 100px;
	}
	.global__nav-list{
		display: none;
	}
	.global__header-btn-link{
		display: none !important;
	}
	.global__header-btn-burger{
		display: block;

		margin: 9px 0;
	}

}

/* -------------------- section main -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

	.global__section-main{
		display: inline-block;
		position: relative;

		width: 100%;

		padding: 0;
	}
	.global__section-main-text{
		position: absolute;

		text-align: center;
	}
	.global__section-main-horn{
		width: 70%;
	}

}

/* -------------------- section about -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

	.global__section-about{
		grid-template-areas: "sa_logo"
							 "sa_text";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
	}
	.global__section-about-text{
		text-align: center;
	}
	.global__section-about-btn-works{
		display: none !important;
	}

}

/* -------------------- section advantages -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

	.global__section-advantages{
		flex-direction: column;
	}

	.global__section-advantages-block{
		width: 100%;

		text-align: center !important;
	}

}

/* -------------------- section works -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

	.global__section-works{
		grid-template-areas: "sw_logo"
							 "sw_text";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
	}
	.global__section-works-text{
		text-align: center;
	}
	.global__section-works-logo{
		margin-left: 0;
	}
	.global__section-portfolio-slider{
		flex-direction: column;
	}

}

/* -------------------- section why -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

	.global__section-why-blocks-list{
		flex-direction: column;

		width: 55%;
	}
	.global__section-why-block-item{
		width: calc(100% - 110px);

		margin-bottom: 40px;
		padding: 35px 55px;
	}

}

/* -------------------- section services -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

	.global__section-services-slider{
		flex-direction: column;
	}
	.global__section-services-slider-item{
		width: 100%;
	}

}

/* -------------------- section commercial -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

	.global__section-commercial{
		grid-template-areas: "sc_logo"
							 "sc_text";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
	}

}

/* -------------------- section form -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

	.global__section-form{
		grid-template-areas: "sf-header"
							 "sf-subheader"
                             "sf-form";
		grid-template-rows: auto auto auto auto;
		grid-template-columns: 1fr;
	}
	.global__section-form-image{
		display: none;
	}

}

/* -------------------- footer -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

	.global__footer{
		grid-template-areas: "ft-nav fb-inst      ft-contacts"
							 "none1  fb-copyright none2";
		grid-template-columns: auto 1fr auto;
		grid-template-rows: auto auto;
	}
	.global__footer-top-logo{
		display: none;
	}
	.global__footer-line{
		display: none;
	}
	.global__footer-top-contacts-phone{
		font-size: 16px !important;
		line-height: 18px;
	}

}
