/* ------------------------------- mobile ------------------------------- */

/* -------------------- header -------------------- */

@media screen and (min-width: 900px) and (max-width: 1020px) {

	.global__header{
		padding: 45px 100px;
	}
	.global__nav-list{
		display: none;
	}
	.global__header-btn-link{
		display: none !important;
	}
	.global__header-btn-burger{
		display: block;

		margin: 9px 0;
	}

}

/* -------------------- section main -------------------- */

@media screen and (min-width: 900px) and (max-width: 1020px) {

	.global__section-main{
		display: inline-block;
		position: relative;
		width: 100%;
	}
	.global__section-main-text{
		position: absolute;
	}
}

