/* ------------------------------- modals ------------------------------- */

/* -------------------- base -------------------- */

.modal-wrapper{
    display: none;

    position: absolute;

    top: 0;

    width: 100%;
    height: auto;

    background: rgba( 0, 0, 0, 0.4 );
}
.modal-display{
    display: flex !important;
}
.modal{
    position: relative;

    width: 1300px;

    margin: 0 auto;

    border: 5px solid #333333;
    border-radius: 20px;

    background: #FFFFFF;
}
.modal-images{
    display: flex;

    padding-top: 20px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.modal-images-img{
    width: 380px;

    margin-bottom: 35px;
}
.modal-btn-close{
    position: absolute;

    width: 50px;
    height: 51px;

    top: 25px;
    left: calc( 100% - 80px );

    background-image: url(../../img/svg/modal-btn-close.svg);
}
.modal-btn-close:hover{
    background-image: url(../../img/svg/modal-btn-close-active.svg);
}
