/* ------------------------------- modals mobile ------------------------------- */

/* -------------------- base -------------------- */

@media screen and (max-width: 600px) {

    .modal{
        width: calc(100% - 40px);

        border: none;
        border-radius: 0;
    }
    .modal-header{
        margin-right: 50px;
    }
    .modal-images-img{
        width: 100%;
    }

}