/* ------------------------------- text ------------------------------- */

/* -------------------- base -------------------- */

.text{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
}

/* -------------------- logo -------------------- */

.text__logo{
    width: 40px;
}
.text__logo-text{
    display: inline;

    margin: 0;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 44px;

    color: #FFFFFF;
}

/* -------------------- headers -------------------- */

.text-subheader{
    font-size: 64px;
    line-height: 78px;
    font-weight: bold;

    margin: 0;
}
.text-header{
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
}

/* -------------------- typography -------------------- */

.text-bold{
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
}
.text-md{
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
}
.text-sm{
    font-size: 18px;
    line-height: 22px;
}
.text-mc{
    font-size: 16px;
    line-height: 20px;
}
.text-nano{
    font-size: 12px;
    line-height: 15px;
}

/* -------------------- direction -------------------- */

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

/* -------------------- weight -------------------- */

.text-thin{
    font-weight: 400;
}

/* -------------------- alfa -------------------- */

.text-opacity-8{
    opacity: 0.8;
}
.text-opacity-6{
    opacity: 0.6;
}
.text-opacity-4{
    opacity: 0.4;
}

/* -------------------- special -------------------- */

.text-block{
    display: block;
}
.text-inline{
    display: inline-block;
}
.text-no-link{
    text-decoration: none;

    color: #ffffff;
}
.text-left-indent{
    margin-left: 20px;
}
