/* ------------------------------- text media ------------------------------- */

/* -------------------- headers -------------------- */

@media screen and (min-width: 1860px) {

	.text-subheader {
		font-size: 64px;
		line-height: 78px;
	}
	.text-header {
		font-size: 24px;
		line-height: 29px;
	}

}
@media screen and (min-width: 1600px) and (max-width: 1860px) {

	.text-subheader {
		font-size: 54px;
		line-height: 60px;
	}
	.text-header {
		font-size: 20px;
		line-height: 25px;
	}

}
@media screen and (min-width: 1300px) and (max-width: 1600px) {

	.text-subheader {
		font-size: 46px;
		line-height: 56px;
	}
	.text-header {
		font-size: 17px;
		line-height: 21px;
	}

}
@media screen and (min-width: 900px) and (max-width: 1300px) {

	.text-subheader {
		font-size: 40px;
		line-height: 50px;
	}
	.text-header {
		font-size: 16px;
		line-height: 19px;

	}

}

/* -------------------- typography -------------------- */

@media screen and (min-width: 1860px) {

	.text-bold{
		font-size: 24px;
		line-height: 29px;
	}
	.text-md{
		font-size: 24px;
		line-height: 29px;
	}
	.text-sm{
		font-size: 18px;
		line-height: 22px;
	}
	.text-mc{
		font-size: 16px;
		line-height: 20px;
	}

}
@media screen and (min-width: 1600px) and (max-width: 1860px) {

	.text-bold{
		font-size: 20px;
		line-height: 25px;
	}
	.text-md{
		font-size: 20px;
		line-height: 25px;
	}
	.text-sm{
		font-size: 16px;
		line-height: 19px;
	}
	.text-mc{
		font-size: 14px;
		line-height: 17px;
	}

}
@media screen and (min-width: 1300px) and (max-width: 1600px) {

	.text-bold{
		font-size: 17px;
		line-height: 21px;
	}
	.text-md{
		font-size: 17px;
		line-height: 21px;
	}
	.text-sm{
		font-size: 14px;
		line-height: 16px;
	}
	.text-mc{
		font-size: 13px;
		line-height: 15px;
	}

}
@media screen and (min-width: 900px) and (max-width: 1300px) {

	.text-bold{
		font-size: 14px;
		line-height: 21px;
	}
	.text-md{
		font-size: 14px;
		line-height: 21px;
	}
	.text-sm{
		font-size: 11px;
		line-height: 16px;
	}
	.text-mc{
		font-size: 10px;
		line-height: 15px;
	}

}
