/* ------------------------------- text mobile ------------------------------- */

/* -------------------- headers -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

	.text-subheader {
		font-size: 60px;
		line-height: 73px;
		font-weight: bold;
	}
	.text-header {
		font-size: 22px;
		line-height: 27px;
		font-weight: bold;
	}

}
@media screen and (min-width: 550px) and (max-width: 700px) {

	.text-subheader {
		font-size: 45px;
		line-height: 60px;
		font-weight: bold;
	}
	.text-header {
		font-size: 18px;
		line-height: 23px;
		font-weight: bold;
	}

}
@media screen and (min-width: 400px) and (max-width: 550px) {

	.text-subheader {
		font-size: 37px;
		line-height: 46px;
		font-weight: bold;
	}
	.text-header {
		font-size: 14px;
		line-height: 17px;
		font-weight: bold;
	}

}
@media screen and (max-width: 400px) {

	.text-subheader {
		font-size: 25px;
		line-height: 30px;
		font-weight: bold;
	}
	.text-header {
		font-size: 12px;
		line-height: 14px;
		font-weight: bold;
	}

}

/* -------------------- typography -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

	.text-bold{
		font-size: 22px;
		line-height: 27px;
		font-weight: bold;
	}
	.text-md{
		font-size: 22px;
		line-height: 27px;
		font-weight: 500;
	}
	.text-sm{
		font-size: 16px;
		line-height: 20px;
	}

}
@media screen and (min-width: 550px) and (max-width: 700px) {

	.text-bold{
		font-size: 18px;
		line-height: 23px;
		font-weight: bold;
	}
	.text-md{
		font-size: 18px;
		line-height: 23px;
		font-weight: 500;
	}
	.text-sm{
		font-size: 14px;
		line-height: 17px;
	}

}
@media screen and (min-width: 400px) and (max-width: 550px) {

	.text-bold{
		font-size: 14px;
		line-height: 23px;
		font-weight: bold;
	}
	.text-md{
		font-size: 14px;
		line-height: 23px;
		font-weight: 500;
	}
	.text-sm{
		font-size: 12px;
		line-height: 15px;
	}

}
@media screen and (max-width: 400px) {

	.text-bold{
		font-size: 12px;
		line-height: 14px;
		font-weight: bold;
	}
	.text-md{
		font-size: 12px;
		line-height: 14px;
		font-weight: 500;
	}
	.text-sm{
		font-size: 10px;
		line-height: 12px;
	}

}

/* -------------------- special -------------------- */

@media screen and (min-width: 700px) and (max-width: 900px) {

	.text-left-indent{
		margin-left: 0;
	}

}
